.App-logo {
  animation: App-logo-spin infinite 20s linear;
}

.App-title {
  font-size: 1.5em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#toast-container > div {
  opacity: 1;
}

.active {
  background: #27272A;
}
